footer{
    background-color: #f7f7f7;
}

.footer-top{
    padding: 25px 0;
}

.footer-bottom{
    text-align: center;
    border-top: 1px solid rgb(227, 227, 227);
    padding: 8px 0;
}

.footer-bottom p{
    font-family: Regular;
    font-size: 13px;
    margin: 0;
}

footer a{
    display: block;
}

.f-box h5{
    font-family: Bold;
    font-size: 18px;
}

.f-box a{
    font-family: Regular;
    color: #333;
    margin-top: 10px;
}

.f-logo a{
    color: #ffb6b6;
    font-family: Bold;
    font-size: 40px;
}

.f-logo p{
    font-family: Regular;
}

.social a{
    display: inline;
    color: #333;
    font-size: 20px;
    margin: 13px 17px 0 0;
}