.agreement-box p{
    font-family: Regular;
}

.agreement-box strong{
    display: inline-block;
    margin-top: 10px;
}

.static-panel {
    margin-top: 4rem;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    padding: 0 0 0 10px;
    box-shadow: -1px 3px 9px #7f7f7fad;
    position: relative;
}

.static-panel::before{
    content: 'İstifadəçi razılaşması';
    position: absolute;
    top: -23px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Bold';
    border-bottom: 2px solid #ffb6b6;
}