table {
    box-shadow: 0px 1px 0 0 #d3d9de, 0 0 0 1px #e7e8eca3;
}

tr{
    vertical-align: middle;
    text-align: center;
}

th{
    font-family: Bold;
    opacity: 0.6;
    font-size: 14px;
}

td{
    font-family: Regular;
}

td input{
    border: 1px solid #e5e5e5;
}

.order-details {
    box-shadow: 0 1px 0 0 #d3d9de, 0 0 0 1px #e7e8eca3;
    border-radius: 6px; 
    padding: 20px;
}

.order-details h5{
    font-family: Bold;
    font-size: 16px;
}

.order-details ul{
    margin-top: 30px;
}

.order-details ul li{
    margin-top: 8px;
    font-family: Regular;
}

.order-details li span{
    color: #097969;
    font-weight: bold;
}

td button{
    border: none;
    background-color: #097969;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.table-area{
    overflow-x: scroll;
}

.table-area::-webkit-scrollbar{
    height: 2px;
}

.table-area::-webkit-scrollbar-thumb{
    background-color: #ffb6b6;
}

.item-count-box span:nth-child(2) {
    margin: 0 7px;

  }

  .minus, .plus{
    background: #ffb6b6;
    color: #fff;
    user-select: none;
    padding: 1px 8px 5px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 100%;
    cursor: pointer;
  }