.slider {
    height: 350px;
}
.slider .swiper-slide, .swiper  {
    height: 100%;
} 

.slider img{
    width: 100%;
    height: 100%;
}
.most-viewed{
    padding: 3rem 0;
}

.most-viewed .top{
    border-bottom: 2px solid #f7f7f7;
    padding-bottom: 10px;
}

.most-viewed h2{
    color: rgb(90, 89, 89);
    font-family: Bold;
    font-size: 23px;
}

.item-box{
    border: 1px solid #efefef;
}

.item-image{
    padding: 25px;
    position: relative;
}

.item-image span{
    position: absolute;
    font-size: 14px;
    background: orange;
    color: #fff;
    padding: 0px 4px;
    font-family: 'Regular';
    border-radius: 3px;
    top: 10px;
    left: 10px;
}


.item-content{
    padding: 20px;
}

.item-content h5{
    font-family: Regular;
    color: #333;
}

.item-content p{
    font-family: Bold;
    margin-top: 10px;
    color: #333;
}

.item-content button{
    width: 100%;
    height: 35px;
    background-color: transparent;
    color: #ffb6b6;
    border: 1px solid #ffb6b6;
    margin-top: 14px;
    font-family: Regular;
    border-radius: 5px;
}

.item-image {
    height: 230px;
}

.item-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width:576px) {
    .slider {
        display: none;
    }
    .item-content h5{
        font-size: 14px !important;
    }

    .item-content p{
        font-size: 14px !important;
        margin-top: 7px !important;
    }
}

#Banners {
    padding-bottom: 2rem;
}

#Banners h2{
    color: rgb(90, 89, 89);
    font-family: Bold;
    font-size: 23px;
}

.brand-box {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Banners .brand-box img{
    width: 80%;
    height: 100%;
    object-fit: contain;
}